body{
  background: #3b3b3d;  
  color: White;
  font-family: Segoe UI;
}

.main-div{
  width: 600;
  height: 400;
  position: absolute;
  left: 100px;
  top:100px;
  text-align: center;
  vertical-align: center;
}

.header{
  background-color: rgb(86, 87, 89);
  width: 100%;  height: 30px;
  padding: 0px; margin: 0px;
  position: absolute; top: 0px; left: 0px;  
  
}