body{
  background: #000046;
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  
  background: linear-gradient(to right, #1CB5E0, #000046); 

  margin: 0px;
  padding: 0px;
  color: White;
  font-family: Segoe UI
}

.main-div{
  border: 1px solid black;
  width: 600px;
  height: 400px;
  padding:0px;
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  text-align: center;
  vertical-align: center;
}
